<h1 mat-dialog-title>Add {{data}}</h1>
<div mat-dialog-content>

  <div [formGroup]="formGroup">
    <mat-form-field *ngFor="let item of model" class="example-full-width" appearance="fill">
      <mat-label>{{item}}</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onAdd()">Add</button>
</div>
