<div class="content">
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 tab-content">
    <mat-tab label="Products"> <app-products></app-products> </mat-tab>
    <mat-tab label="Contacts"> <app-contacts></app-contacts> </mat-tab>
  </mat-tab-group>
</div>
